header {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}


.icon_red {
    color: red;
}

.icon_color {
    color: darkgreen;
}

.view_table_name_td {
    padding-right: 25px;

}

.view_table_conact_td {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.company_title {
    color: navy;
}

.company_personal_info {
    border-spacing: 3px 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.company_position_bold {
    font-weight: bold;
}

.company_personal_info_date {
    width: 9%;
}

.company_personal_info_descr {
    width:78%;
}

.company_personal_info_comma {
    width: 2%;
}


.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

input:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}

textarea_lines {
    text-align: left;
}

.single_line {
    text-align: left;
}

.company_div {
    border-bottom: 1px solid lightgrey; /* Чёрная рамка */
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
    white-space: nowrap;
    text-align: center;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
    white-space: nowrap;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    white-space: nowrap;
}

#container-border {
    padding: 3px;
    margin: 3px;
    border-width: 1px;
    border-color: lightgrey;
    border-style: dot-dash;

}


dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}


